span.label.label-default {
    font-weight: 600;
    padding: 2px;
    border-radius: 3px;
    color: #333;
    background-color: lightgray;
}

input.btn-agree.btn-school{
    font-size: 12px;
    background-color: mediumseagreen;
    color: white;
    font-weight: 500;
}